
.container{
    width: 85%;
    height: 90%;
    /* background-image: url("../../img/Page3/lineasahorro.jpg"); */
    background-position: top center;
    background-size: contain;
    background-attachment: fixed;
    position:relative;
    z-index: 1;
    margin-top: 1%;
  }
  
  .progress{
    color: #0A2D72;
  }
  
  p{
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
  }
  
  h2{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
  }
  
    
  h6{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
  }

  h3{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;  
    margin-top: 15%;
  }
  
  h1{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    /* background-color: antiquewhite; */
  }
  
  .h5{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
  }
  
  .menu{
    width: 85%;
    margin-left: 10%;
    margin-top: 2%;
    color: #0A2D72;
  }
  .footer{
    width: 85%;
    margin-left: 10%;
    margin-top: 5%;
    color: #0A2D72;
  }
  
  .botones{
    display: flex;
    justify-content: center;
    
  }
  
  .left{
    font-size: 50px;
    margin-right: 83%;
    color: #0A2D72;
    position: absolute;
    top: 40%;
    transform: translateY(-70%);
  }
  
  .right{
    position: absolute;
    top: 40%;
    transform: translateY(-70%);
    font-size: 50px;
    margin-left: 83%;
    color: #0A2D72;
  }

  .red{
    align-items: center;
    margin-left: 21%;
  }

   .btn{
    width: 30%;
    height: 55px;
    margin-left: 20%;
    margin-top: 10%;
   }